body{
    background-color: rgb(239, 233, 233);
}
header{
    border: solid 1px black;
    border-radius: 5px;
    margin-bottom: 5px;
}
.container{
    display: flex;
    gap: 5px;
}
article{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
section{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.art{
    border: solid 1px black;
    border-radius: 5px;
    width: 20vw;
    height: 35px;
}
.sec{
    border: solid 1px black;
    border-radius: 5px;
    width: 75vw;
    height: 35px;
}